.container {
  height: 110vh;
//   border: 2px solid red;
}
.flex-container {
}

.flex-row {
    flex-direction: column;
}

.data-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: inherit;  
}

.item {
  text-align: center;
}
