.container {
  height: 100vh;
//   border: 2px solid red;
}
.flex-container {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
}

.flex-row {
    flex-direction: column;
}

.item {
  text-align: center;
}
